html{
  font-size: 18px;
  font-family: Helvetica;
}

header{
  background-color: black;
  width: 100%;
  z-index: 1000;
  display:flex;
  align-items: center;
  justify-content: ;
}

header img{
  height:1.5rem;
  width: auto;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header h3{
  font-size: 1rem;
  color: white;
  padding: 0.66rem 0;
}

.sitecont{
  width: 960px;
}

.container1{
  background-image: url(../moto.jpg);
  background-size: cover;
  background-position: center;
  height: 25rem;
  width: 100%;
  padding: 0;
  display: flex;


}
.newarrival{
  background-color: black;
  color: white;
  width: 25rem;
  height: 10rem;
  display:block;
  flex-direction: column;
  margin-top: 9rem;


}

.newarrival p{
  font-size: 1rem;
  padding: 2rem 0 0.25rem 3rem;
  margin: 0 0 0 0;

}

.newarrival h1{
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 0 3rem;
  margin: 0 0 0 0;


}

.container2{
  background-color: firebrick;
  color: white;



}

.container2 ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0 0.75rem 0;
  margin: 0 0 3rem 0 ;
}

.container3{
  display: flex;
  width: 100%;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-between;


}

.container3 img{
  height: 9rem;
  width: auto;
  align-self: center;
  padding: 2rem 9rem;
  max-width: 100%;
}

.picbox {
  width: 30%;
  border: 4px solid black;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;

}

.picbox p {
  background-color: black;
  padding: 0.5rem 0;
  margin: 0;
  text-align: center;
}

.textbox{
  width: 35%;
  margin-top: 3rem ;
  margin-bottom: 4rem;
}

.textbox h4{
  background-color: black;
  padding: 1rem 0 1rem 2rem;
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

.textbox p{
  margin: 0 0 4rem 0 ;

}


footer{
  background-color: black;
  color: white;
  height: 5rem;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
